{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals" : true,
    "node": true //To allow node globals
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "React": "writable"
  },
  "ignorePatterns": ["build", "dist"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2021,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "semi": false
    }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "multiline-comment-style": ["error", "starred-block"],
    "@typescript-eslint/no-var-requires": 0,
    "react/display-name": 0
  },
  "settings": { "react": { "version": "detect" } }
}
